interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://karlia.fr/app/api/v2/customers?offset=0
  response:
    content: '{"status":"success","pagination":{"total":336,"limit":100,"offset":0},"data":[{"id":"187522","title":"Soci\u00e9t\u00e9
      Test 2","individual":"0","prospect":"0","id_client_manager":["u2388"],"phone":"+33123456789","mobile":"","email":"","langId":"1","siret":"","siren":"","legal_form":"","main_activity":"","vat_number":"","id_parent":"0","id_products_prices_category":"0","id_payment_condition":"0","id_vat":"-1","description":"","client_number":"","address_list":[],"custom_fields_list":[],"creation_date":"2022-03-09
      15:33:40","created_by":"2388","update_date":"2022-03-09 15:34:01","updated_by":"1"},{"id":"187523","title":"Soci\u00e9t\u00e9
      Test 1","individual":"0","prospect":"0","id_client_manager":["u2388"],"phone":"+33567890123","mobile":"+33600010203","email":"contact@karlia.fr","langId":"1","siret":"","siren":"","legal_form":"","main_activity":"","vat_number":"","id_parent":"0","id_products_prices_category":"0","id_payment_condition":"0","id_vat":"-1","description":"","client_number":"","address_list":[{"id":"237305","type":"main","title":"","address":"Rue
      de la paix","zip_code":"75000","city":"Paris","country":"France","is_default":true}],"custom_fields_list":[],"creation_date":"2022-03-09
      15:33:41","created_by":"2388","update_date":"2022-07-12 11:08:38","updated_by":"2388"},{"id":"187628","title":"Leila  Elazzouzi","individual":"1","prospect":"0","id_client_manager":["u2388","u2394"],"phone":"+33
      6 45 44 59 66","mobile":"","email":"leila.elazzouzi@gmail.com","langId":"1","siret":"","siren":"","legal_form":"","main_activity":"","vat_number":"","id_parent":"0","id_products_prices_category":"0","id_payment_condit[...]
